/*
 * Some extra code for the Video Archive page
 * Make the page full-width 
*/

 

.postid-1544 .entry-header, 
.postid-1544 .entry-content, 
.postid-1544 .entry-summary, 
.postid-1544 .entry-meta
{
	padding-right: 30px;
	padding-left: 30px;
}

.postid-1544 .site-main .sidebar-container {
	position: static;
	top: 0;
}

.media-archive .flex {
	display: flex;
}